@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

.App {
  text-align: center;
}

img{
  padding-right: 10px;
  height: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s reverse;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto auto auto;
  align-content:space-around;
  font-size: 2rem;
  color: white;
}

.App-link {
  color:limegreen;
  font-size: 2rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: 2rem;
  font-family: 'New Tegomin', serif;
  padding: 5px 10px;
  margin: auto;
}
